.pro-dialog-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--pro-zindex-dialog);

  &.pro-dialog-center {
    align-items: center;
    justify-content: center;
  }

  &.pro-dialog-topcenter {
    align-items: flex-start;
    justify-content: center;
    padding-top: 32px;
  }

  &.pro-dialog-bottomcenter {
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 32px;
  }

  &.pro-dialog-centerright {
    align-items: center;
    justify-content: flex-end;
    padding-right: 32px;
  }

  &.pro-dialog-centerleft {
    align-items: center;
    justify-content: flex-start;
    padding-left: 32px;
  }

  &.pro-dialog-topleft .pro-dialog {
    position: absolute;
    top: 32px;
    left: 32px;
  }

  &.pro-dialog-topright .pro-dialog {
    position: absolute;
    top: 32px;
    right: 32px;
  }

  &.pro-dialog-bottomleft .pro-dialog {
    position: absolute;
    bottom: 32px;
    left: 32px;
  }

  &.pro-dialog-bottomright .pro-dialog {
    position: absolute;
    bottom: 32px;
    right: 32px;
  }
}

.pro-dialog {
  display: flex;
  z-index: calc(var(--pro-zindex-dialog) + 2);
  flex-direction: column;
  color: var(--pro-palette-text-primary);
  background-color: var(--pro-palette-surface);
  border-radius: var(--pro-default-borderradius);
  -webkit-animation: pro-open-dialog-center 0.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: pro-open-dialog-center 0.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2), 0px 24px 38px 3px rgba(0,0,0,0.14), 0px 9px 46px 8px rgba(0,0,0,0.12);
  max-height: calc(100vh - var(--pro-appbar-height)); // keep as fallback
  max-height: calc(100dvh - var(--pro-appbar-height));
  overflow-y: auto;
  outline-style: none;

  &.pro-dialog-rtl .pro-dialog-title .pro-button-close {
    right: unset;
    left: 8px;
  }

  & .pro-dialog-title {
    z-index: +1;
    flex: 0 0 auto;
    margin: 0;
    padding: 16px 24px;
    overflow-wrap: anywhere;
    border-top-left-radius: var(--pro-default-borderradius);
    border-top-right-radius: var(--pro-default-borderradius);

    &:has(.pro-button-close) {
      padding-inline-end: 64px;
    }

    + * > .pro-dialog-content {
      border-radius: 0
    }

    & .pro-button-close {
      top: 8px;
      right: 8px;
      position: absolute;
    }
  }

  & .pro-dialog-content {
    position: relative;
    flex: 1 1 auto;
    overflow: auto;
    padding: 8px 24px;
    margin: 0;
    -webkit-overflow-scrolling: touch;
    border-top-left-radius: var(--pro-default-borderradius);
    border-top-right-radius: var(--pro-default-borderradius);

    &.pro-dialog-no-side-padding {
      padding: 12px 0px;
      margin: 0;
    }
  }

  & .pro-dialog-actions {
    flex: 0 0 auto;
    display: flex;
    gap: 8px;
    padding: 8px;
    align-items: center;
    justify-content: flex-end;
    border-bottom-left-radius: var(--pro-default-borderradius);
    border-bottom-right-radius: var(--pro-default-borderradius);

    &:empty {
      display: none;
    }
  }
}


.pro-dialog-width-false {
  max-width: calc(100% - 64px);
}

.pro-dialog-width-xs {
  max-width: 444px;
}

.pro-dialog-width-sm {
  max-width: 600px;
}

.pro-dialog-width-md {
  max-width: 960px;
}

.pro-dialog-width-lg {
  max-width: 1280px;
}

.pro-dialog-width-xl {
  max-width: 1920px;
}

.pro-dialog-width-xxl {
  max-width: 2560px;
}

.pro-dialog-width-full {
  width: calc(100% - 64px);
}

.pro-dialog-fullscreen {
  width: 100%;
  height: 100%;
  margin: 0;
  max-width: 100%;
  max-height: none;
  border-radius: 0;
  overflow-y: hidden;
}

@-webkit-keyframes pro-open-dialog-center {
  0% {
    opacity: 0;
  }

  1% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pro-open-dialog-center {
  0% {
    opacity: 0;
  }

  1% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
