.pro-popover {
  outline: 0;
  z-index: calc(var(--pro-zindex-popover) + 1);
  position: absolute;
  opacity: 0;
  top: -9999px;
  left: -9999px;

  &.pro-popover-fixed {
    position: fixed;
  }

  &.pro-popover-relative-width {
    width: 100%;
  }

  &.pro-popover-open {
    opacity: 1;
    transition: opacity;
  }

  &:not(.pro-popover-open ) {
    pointer-events: none;
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
  }

  &:empty {
    box-shadow: none !important;
  }

  .pro-list {
    max-height: inherit;
    overflow-y: auto;
  }
}

.pro-popover .pro-popover {
  z-index: auto; // javascript will handle nested z-indexes
}

.pro-appbar {
  .pro-popover-cascading-value {
    z-index: calc(var(--pro-zindex-appbar) + 2);
  }
}

.pro-drawer {
  &:not(.pro-drawer-temporary) {
    .pro-popover-cascading-value {
      z-index: calc(var(--pro-zindex-drawer) + 2);
    }
  }

  &.pro-drawer-temporary, &.pro-drawer-responsive {
    .pro-popover-cascading-value {
      z-index: calc(var(--pro-zindex-appbar) + 4);
    }
  }
}

.pro-dialog {
  .pro-popover-cascading-value {
    z-index: calc(var(--pro-zindex-dialog) + 3);
  }
}

.pro-select {
  .pro-popover-cascading-value {
    z-index: calc(var(--pro-zindex-select) + 5);
  }
}
